RewriteEngine On
RewriteBase /

# If a file or folder does not exist, then route it to index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
