.frame-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px; /* Adjust margin size as needed */
}
.qr-code-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin: 3;
  border: 2px dashed #aaa;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
