.addBtn {
  border-radius: 20px;
  padding: 5px 25px 5px 25px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.addBtn:not(:disabled):hover {
  background-color: transparent;
  border-color: var(--primary-color);
  box-shadow: none;
  color: var(--primary-color);
}

.cancelButton {
  margin-right: 2px;
  border-radius: 20px;
  padding: 5px 25px;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.cancelButton:hover {
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
  color: var(--primary-color) !important;
}

/* Customize the label color */
.ant-collapse-header {
  color: var(--primary-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-collapse-header-text {
  font-weight: bold;
  font-size: 1rem;
}

/* Customize the chevron color */
.ant-collapse-arrow {
  color: var(--primary-color) !important;
  /* Replace with your desired color */
  font-weight: bold;
  font-size: 1rem;
}
